<app-header></app-header>

<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Welcome to the All Reviews Page!</h1>

    <h5 class="mat-small">Click on a paper in conflict to make a decision.</h5>

    <mat-nav-list>
      <a *ngFor="let paper of papers" mat-list-item>
        <a *ngIf="paper.accepted==='conflict'" href="/paper/decision/{{paper.pid}}" >
          {{paper.title}} <b>({{paper.accepted}})</b>
        </a>
        <a *ngIf="paper.accepted!=='conflict'" >
          {{paper.title}} <b>({{paper.accepted}})</b>
        </a>
        </a>

    </mat-nav-list>
  </mat-card>

</div>
