.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.datetime-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error{
  margin-top: 3%;
}


.datetime-container-children {
  flex-grow: 1;
}

.time-input {
  display: flex;
  background-color: #f5f5f5;
}

.main-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#create-conference-button {
  flex-grow: 1;
  min-width: 100%;
}
