<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Pay safe</h1>

    <mat-label>Total: {{totalPrice}}$</mat-label>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Card number:</mat-label>
        <input
          id="card-number-input"
          [(ngModel)]="cardNumber" name="card-number"
          matInput placeholder="Ex. 0000 1111 2222 3333">
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Name on card:</mat-label>
        <input
          id="name"
          [(ngModel)]="name" name="name"
          matInput placeholder="Ex. Oliver Cromwell">
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Expiring date</mat-label>
        <input
          id="date"
          [(ngModel)]="expiringDate" name="date"
          matInput placeholder="Ex. 05/21">
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>CCV</mat-label>
        <input
          id="ccv"
          [(ngModel)]="ccv" name="ccv"
          matInput placeholder="Ex. 965">
      </mat-form-field>
    </form>

      <button (click)="pay()" class="abstract-button" color="warn" mat-raised-button>
        Pay
      </button>
    <mat-error *ngIf="badData">Input data is invalid!</mat-error>

  </mat-card>

</div>
