<app-header></app-header>

<div *ngIf="paper" id="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{paper.title | uppercase}}</mat-card-title>
      <mat-card-subtitle> {{paper.topic}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="mat-typography">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Paper title</mat-label>
            <input #paperTitleInput (change)="paperTitleUpdated(paperTitleInput.value)"
                   id="paper-title"
                   matInput placeholder="Ex. The Idea of Delighting in the Divine in St. Augustine's Confessions"
                   value="{{paper.title}}">
          </mat-form-field>
        </form>

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Keywords</mat-label>
            <input #paperKeywordsInput (change)="paperKeywordsUpdated(paperKeywordsInput.value)"
                   id="paper-keywords"
                   matInput placeholder="Ex. Augustinian Studies, love, divinity, delight, joy, C. S. Lewis"
                   value="{{paper.topic}}">
          </mat-form-field>
        </form>
      </section>
    </mat-card-content>
    <a [href]="abstractUrl" download="{{abstractFilename}}">
      <button class="abstract-button" color="primary" mat-raised-button>
        See uploaded abstract
      </button>
    </a>

    <div>
      <button (click)="uploadAbstract()" class="abstract-button" color="warn" mat-raised-button>
        Update abstract
      </button>
      <mat-label>{{abstractFilename}}</mat-label>
      <input #abstractFileUpload accept="application/pdf, application/msword" id="abstractFileUpload"
             multiple="multiple" name="abstractFileUpload"
             style="display:none;" type="file"/>
    </div>
    <a [href]="paperContentUrl" download="{{paperFilename}}" *ngIf="(paperUploaded)">
      <button class="abstract-button" color="primary" mat-raised-button>
        See uploaded paper
      </button>
    </a>
    <div>
      <button (click)="uploadPaper()" class="abstract-button" color="warn" mat-raised-button>
        {{uploadPaperButtonText}}
      </button>
      <mat-label>{{paperFilename}}</mat-label>
      <input #paperFileUpload accept="application/pdf, application/msword" id="paperFileUpload" multiple="multiple"
             name="paperFileUpload"
             style="display:none;" type="file"/>
    </div>
    <mat-card-actions>
      <button (click)="updatePaper()" color="primary" mat-flat-button>Update</button>
      <button (click)="goBack()" mat-flat-button>Back</button>
    </mat-card-actions>
    <mat-error *ngIf="updateFailed">Couldn't update</mat-error>
  </mat-card>
</div>
