#title {
  position: absolute;
  color: white;
  margin-left: 47%;
  width: 25%;
  margin-top: 0.4%;
  z-index: 2;
}

body {
  display: block;
  height: 100%;
  width: 100%;
}

form {
  position: absolute;
  margin-top: 15%;
  width: 100%;
  height: 60%;
}

mat-form-field {
  position: relative;
  margin-left: 30%;
  margin-top: 15px;
  width: 40%;
}

.homeButton {
  position: relative;
  background-color: #b5202e;
  color: white;
  width: 1%;
  height: 80%;
  margin-left: 0.2%;
  margin-top: 0.3%;
  z-index: 2;
}

.homeButton:hover {
  background-color: #e12032;
}


.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: #19265c;
}

#buttonLogin {
  /*background-color: #d41000;*/
  /*color: white;*/
  margin-top: 2%;
  width: 20%;
  margin-left: 40%;
}

#buttonLogin:hover {
  /*background-color: #ff1700;*/
}


/*@-moz-keyframes rotate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotate(-360deg);*/
/*  }*/
/*}*/

/*@-webkit-keyframes rotate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotate(-360deg);*/
/*  }*/
/*}*/

/*@-o-keyframes rotate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotate(-360deg);*/
/*  }*/
/*}*/

/*@keyframes rotate {*/
/*  0% {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  100% {*/
/*    transform: rotate(-360deg);*/
/*  }*/
/*}*/

/*.round {*/
/*  display: block;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  padding-top: 30px;*/
/*  text-decoration: none;*/
/*  text-align: center;*/
/*  font-size: 25px;*/
/*  text-shadow: 0 1px 0 rgba(255, 255, 255, .7);*/
/*  letter-spacing: -.065em;*/
/*  font-family: "Hammersmith One", sans-serif;*/
/*  -webkit-transition: all .25s ease-in-out;*/
/*  -o-transition: all .25s ease-in-out;*/
/*  -moz-transition: all .25s ease-in-out;*/
/*  transition: all .25s ease-in-out;*/
/*  box-shadow: 2px 2px 7px rgba(0, 0, 0, .2);*/
/*  border-radius: 300px;*/
/*  z-index: 1;*/
/*  border-width: 4px;*/
/*  border-style: solid;*/
/*}*/

/*.round:hover {*/
/*  width: 130%;*/
/*  height: 130%;*/
/*  left: -15%;*/
/*  top: -15%;*/
/*  font-size: 33px;*/
/*  padding-top: 38px;*/
/*  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);*/
/*  -o-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);*/
/*  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);*/
/*  box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);*/
/*  z-index: 2;*/
/*  border-size: 10px;*/
/*  -webkit-transform: rotate(-360deg);*/
/*  -moz-transform: rotate(-360deg);*/
/*  -o-transform: rotate(-360deg);*/
/*  transform: rotate(-360deg);*/
/*}*/

/*a.red {*/
/*  background-color: rgba(239, 57, 50, 1);*/
/*  color: rgba(133, 32, 28, 1);*/
/*  border-color: rgba(133, 32, 28, .2);*/
/*}*/

/*a.red:hover {*/
/*  color: rgba(239, 57, 50, 1);*/
/*}*/

/*a.green {*/
/*  background-color: rgba(1, 151, 171, 1);*/
/*  color: rgba(0, 63, 71, 1);*/
/*  border-color: rgba(0, 63, 71, .2);*/
/*}*/

/*a.green:hover {*/
/*  color: rgba(1, 151, 171, 1);*/
/*}*/

/*a.yellow {*/
/*  background-color: rgba(252, 227, 1, 1);*/
/*  color: rgba(153, 38, 0, 1);*/
/*  border-color: rgba(153, 38, 0, .2);*/
/*}*/

/*a.yellow:hover {*/
/*  color: rgba(252, 227, 1, 1);*/
/*}*/

/*.round span.round {*/
/*  display: block;*/
/*  opacity: 0;*/
/*  -webkit-transition: all .5s ease-in-out;*/
/*  -moz-transition: all .5s ease-in-out;*/
/*  -o-transition: all .5s ease-in-out;*/
/*  transition: all .5s ease-in-out;*/
/*  font-size: 1px;*/
/*  border: none;*/
/*  padding: 40% 20% 0 20%;*/
/*  color: #fff;*/
/*}*/

/*.round span:hover {*/
/*  opacity: .85;*/
/*  font-size: 16px;*/
/*  -webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);*/
/*  -moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);*/
/*  -o-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);*/
/*  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);*/
/*}*/

/*.green span {*/
/*  background: rgba(0, 63, 71, .7);*/
/*}*/

/*.red span {*/
/*  background: rgba(133, 32, 28, .7);*/
/*}*/

/*.yellow span {*/
/*  background: rgba(161, 145, 0, .7);*/

/*}*/


/*.a {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  border: 3px solid blue;*/
/*  background-color: yellow;*/
/*}*/

