<script src="https://code.iconify.design/1/1.0.5/iconify.min.js"></script>


<nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">
      <mat-icon>home</mat-icon>
    </a>
    <div class="example-button-row">
      <a (click)="logout()" class="nav-item nav-link">
        <button color="warn" mat-raised-button>logout</button>
      </a>
      <a class="nav-item nav-link" routerLink="/create-conference">Create Conference</a>
      <a class="nav-item nav-link" routerLink="/manage-pcs">Manage Program Committees</a>
      <button mat-flat-button [color]="authorButton" (click)="goToAuthorRegister()"> Register as Author </button>
      <button mat-flat-button [color]="pcButton" (click)="goToPCRegister()"> Register as PC Member</button>
      <a (click)="back_to_clients_page()" class="nav-item nav-link">
        <button color="warn" mat-raised-button>Get to your page</button>
      </a>
    </div>
  </div>
</nav>


<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
