<app-header></app-header>

<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Welcome to the Program Committee manager!</h1>
    <h4 class="mat-h4">Here you can invite a new PC by entering his/hers email:</h4>

    <div id="add-pc-container">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Invite</mat-label>
          <input [formControl]="emailFormControl" (change)="inputChange(emailInput.value)" matInput placeholder="Ex. pat@example.com" #emailInput>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <button  mat-flat-button [disabled]="!emailFormControl.valid" class = "invite-button" (click)="invitePc()">Invite</button>
      <mat-error *ngIf="!validData" class = "error">Input data is invalid!</mat-error>

    </div>
    <br>
    <p class="mat-h4">Here is a list of the Program Committee: </p>
    <p class="mat-small">(Click on name for more details)</p>
    <mat-nav-list>
     <!-- <a *ngFor="let pc of pcs" href="/pc/detail/{{pc.id}}" mat-list-item> {{pc.firstName}} {{pc.lastName}}
        ({{pc.affiliation}}) </a>-->
       <a *ngFor="let pc of pcs; let i = index" href="/pc/detail/{{pcMembersInfo[i].uid}}" mat-list-item>{{pcMembersInfo[i].firstname}} {{pcMembersInfo[i].lastname}} ({{pcMembersInfo[i].affiliation}})</a>
    </mat-nav-list>
  </mat-card>

</div>
