<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Welcome to the Program Committee manager!</h1>
    <h4 class="mat-h4">Here you can invite a new PC by entering his/hers email:</h4>

    <div id="add-pc-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Invite</mat-label>
        <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
      <button mat-flat-button id="invite-button" color="primary">Invite</button>

    </div>

    <h4 class="mat-h4">Here is a list of the Program Committee.</h4>
    <h5 class="mat-small">Select them to give Chair credentials</h5>
    <mat-selection-list #pcList>
      <mat-list-option *ngFor="let pc of pcs">
        {{pc.firstName}} {{pc.lastName}} ({{pc.email}})
      </mat-list-option>
    </mat-selection-list>
    <button mat-flat-button id="make-chair-button" color="primary" (click)="makeChair(null)">Give Chair credentials</button>


  </mat-card>

</div>
