<div class="header">
  <button id="logoutButton"  (click)="logout()" mat-flat-button><mat-icon>logout</mat-icon></button>
  <h1 id = "title" >Author Homepage</h1>
</div>

<div style="display:flex; position:absolute; left:28%;bottom:45%; width:100%">
  <button mat-raised-button class="my_button_class" routerLink="/paper/upload">
    Upload a new paper
  </button>
  <button mat-raised-button class="my_button_class" routerLink="/paper/all" >
    <!--fixme those should show only if there is a conference-->
    My papers
  </button>
</div>
