.my_button_class {
  width: 250px !important;
  height: 150px !important;
  min-width: unset !important;
  font-size: 22px;
  color: white;
  background-color: #3b5998;
}

.my_button_class:hover
{
  background-color: #4578c1;
}
button
{
  margin-left: 3%;
}


#title
{
  position: absolute;
  color: white;
  margin-left: 40.5%;
  width: 25%;
  margin-top: 0.4%;
  z-index: 2;
}

.header {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: #19265c;
}


#logoutButton {
  position: absolute;
  color: white;
  background-color: #bf0000;
  right: 1%;
  top: 17%;
  height: 69%;
}

#logoutButton:hover {
  background-color: #ee0000;
}
