<script src="https://code.iconify.design/1/1.0.5/iconify.min.js"></script>


<nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark">
  <!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
  <div class="navbar-nav">

    <div class="example-button-row">
      <button (click)="navigateToHome()" id="homeButton" mat-icon-button>
        <mat-icon>home</mat-icon>
      </button>

      <!--      <button class="nav-item nav-link" *ngIf="isChair()" routerLink="/create-conference" mat-flat-button>Create Conference</button>-->
<!--      <button *ngIf="isChair()" class="nav-item nav-link" mat-flat-button routerLink="/manage-pcs">Manage Program
        Committees
      </button>
      <button *ngIf="(isPC() || isAuthor()) && isFirstPhase()" class="nav-item nav-link" mat-flat-button
              routerLink="/paper/upload">Upload a new paper
      </button>
      <button *ngIf="(isPC() || isAuthor())" class="nav-item nav-link" mat-flat-button routerLink="/paper/all">My
        papers
      </button>
      <button *ngIf="isChair() && isSecondPhase()" class="nav-item nav-link" mat-flat-button routerLink="/reviews/all">
        Reviews
      </button>
      <button *ngIf="isPC() && isSecondPhase()" class="nav-item nav-link" mat-flat-button routerLink="/bid">Bid papers
      </button>
      <button *ngIf="isChair()" class="nav-item nav-link" mat-flat-button routerLink="/conference/edit">Conference
        settings
      </button>
      <button *ngIf="isChair() && isThirdPhase()" class="nav-item nav-link" mat-flat-button
              routerLink="/conference/structure">Conference schedule
      </button>
      <button *ngIf="isChair() && isSecondPhase()" class="nav-item nav-link" mat-flat-button
              routerLink="/review/assign">Reviews
      </button>
      <button *ngIf="isPC() && isSecondPhase()" class="nav-item nav-link" mat-flat-button routerLink="/review/pc">Review
        papers
      </button>-->
      <button (click)="logout()" class="nav-item nav-link" id="logoutButton" mat-flat-button routerLink="/">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>


  <!-- main content container -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
