#loginButton1 {
  position: absolute;
  width: 30%;
  color: white;
  background-color: #324e85;
  margin-left: 10%;
  bottom: 0;
  height: 80%;
}


#loginButton2 {
  position: absolute;
  width: 30%;
  color: white;
  background-color: #324e85;
  margin-left: 47%;
  bottom: 0;
  height: 80%;
}

body {
  display: block;
  height: 100%;
  width: 100%;
}

#loginButton1:hover {
  background-color: #3c70b1;
}

#loginButton2:hover {
  background-color: #3c70b1;
}

.registerButtonComponent {
  display: flex;
  height: 80%;
}

.homeButton {
  position: relative;
  background-color: #b5202e;
  color: white;
  width: 1%;
  height: 80%;
  margin-left: 0.2%;
  margin-top: 0.3%;
}

.homeButton:hover {
  background-color: #e12032;
}

.main {
  position: absolute;
  width: 100%;
  height: 80%;
  margin-top: 5%;
}

.header {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: #19265c;
}
