.loginButton {
  height: 20%;
  width: 30%;
  margin: auto;
}

.registerButtonComponent {
  display: flex;
  height: 80%;
}

.homeButton {
  width: 20%;
  margin-left: 1%;
  margin-top: 1%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
