<body>
<div class="header">
  <button (click)="goHome()" class="homeButton" color="warn" mat-stroked-button> <mat-icon>arrow_back</mat-icon></button>
  <button (click)="goToAuthorRegister()" id="loginButton1"  mat-flat-button> Register as Author</button>
  <button (click)="goToPCRegister()" id="loginButton2" mat-flat-button> Register as PC Member</button>
</div>
<div class = "main">
<app-author-register [hidden] = "!author_register"></app-author-register>
<app-pc-register [hidden] = "!pc_register" ></app-pc-register>
</div>
</body>
