<button class="nav-item nav-link" mat-flat-button routerLink="/login">Login</button>
<button class="nav-item nav-link" mat-flat-button routerLink="/ticket">Buy Ticket</button>

<div class="wrapper">
  <!--  <button mat-raised-button color="warn">-->
  <!--    <a routerLink="/login" class="btn btn-link">Login</a>-->
  <!--  </button>-->

  <div class="bg1 ">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <div class="bg2"></div>
          </div>

          <h1 class="presentation-title">XOR EAX EAX</h1>
          <div class="fog-low">
            <div class="bg4"></div>
          </div>
          <div class="fog-low right">
            <div class="bg4"></div>
          </div>
        </div>

        <h2 class="presentation-subtitle ,text-center">Give us 10</h2>
      </div>
    </div>
    <div class="moving-clouds">
      <div class="bg5"></div>
    </div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
      <!-- <h6 class="category category-absolute">Designed and coded by -->


      <img class="creative-tim-logo bg3" src="src/app/assets/img/xeo">

    </h6>
  </div>

</div>

<!--<button mat-raised-button color="warn">-->
<!--  <a routerLink="/login" class="btn btn-link">Login</a>-->
<!--</button>-->

<!--<button mat-raised-button color="warn">-->
<!--  <a routerLink="/ticket" class="btn btn-link">Buy tickets</a>-->
<!--</button>-->
<br>
<br>




