<style>
  #loginButton {
    margin-left: 30px;
    margin-top: 1%;
    z-index: 2000;
    background-color: #3b5998;
    color: white;
    width: 10%
  }

  #buyTicketButton {
    position: absolute;
    right: 30px;
    margin-top: 1%;
    z-index: 2000;
    background-color: #e43d00;
    color: white;
    width: 10%
  }

  #registerButton {
    margin-left: 30px;
    margin-top: 1%;
    z-index: 2000;
    background-color: #3b5998;
    color: white;
    width: 10%
  }

  #loginButton:hover {
    background-color: #4c7bcb;
  }

  #buyTicketButton:hover {
    background-color: #ff5100;
  }

  #registerButton:hover {
    background-color: #4c7bcb;
  }

</style>


<button id="loginButton" mat-flat-button routerLink="/login">Login</button>
<!--<button id="registerButton" mat-flat-button routerLink="/author-register">Register</button>-->
<button id="registerButton" mat-flat-button (click)="goToAuthorRegister()">Register</button>
<button id="buyTicketButton" mat-flat-button routerLink="/ticket">Buy Tickets</button>


<div class="wrapper">
  <div class="bg1 ">
        <div class="title-brand">
          <div class="angular-logo">
            <div class="bg2"></div>
          </div>
          <h1 class="presentation-title">XOR EAX EAX</h1>
          <div class="fog-low">
            <div class="bg4"></div>
          </div>
          <div class="fog-low2">
            <div class="bg4"></div>
          </div>
        </div>

        <h2 class="presentation-subtitle">Give us 10</h2>

    <div class="moving-clouds">
      <div class="bg5"></div>
    </div>



    <h6 class=" category-absolute">Designed and coded by
      <img class="creative-tim-logo bg3" src="src/app/assets/img/xeo">
    </h6>
  </div>

</div>




