div
{
  margin-left: 10px;
  margin-top: 1%;
  width:100%;
  height:700px;
}

.decorationText{
  width: 30%;
  margin-left: 43%;
  margin-top: 20%;
  color: #1a8b04;
}

[hidden] {
  display: none !important;
}

h1{
  margin: auto;
  margin-top: 2%;
  width: 20%;
}

input
{
  margin-left: 8px;
}

form{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.registerButton
{
  width: 20%;
  margin-left: 40%;
  margin-bottom: 2%;
}

.homeButton
{
  width: 20%;
  margin-left: 1%;
  margin-top: 1%;
}

mat-form-field
{
  margin: auto;
  margin-top: 15px;
  width: 500px;
}
