<div class="header">
  <button class="homeButton" mat-flat-button routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 id="title">Register</h1>
</div>
<h2 id="decorationText"> Thank you for the author registration!</h2>


<!--<h1 [hidden]="success">Register as Author</h1>-->

<div [hidden]="success">
  <form [formGroup]="myForm">
    <mat-form-field>
      <mat-label>Username:</mat-label>
      <input formControlName="username" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input formControlName="email" matInput>
      <mat-error *ngIf="email.invalid && email.touched;">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input formControlName="password" matInput type="Password">
      <mat-error *ngIf="password.invalid && password.touched;">
        Password must have 8 - 16 caracters and contain at least a number
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Website:</mat-label>
      <input formControlName="website" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Affiliation:</mat-label>
      <input formControlName="affiliation" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>First name:</mat-label>
      <input formControlName="firstName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last name:</mat-label>
      <input formControlName="lastName" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number:</mat-label>
      <input formControlName="phoneNumber" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Academic rank:</mat-label>
      <input formControlName="academicRank" matInput>
    </mat-form-field>
  </form>
  <button (click)="registerAuthor() " [disabled]="myForm.invalid" class="registerButton" mat-raised-button>
    Submit Author Registration
  </button>
</div>



