<app-header></app-header>
<div class="main-div">
  <h2>Papers available for bidding</h2>
  <mat-list>
    <mat-list-item *ngFor="let paper of papers; let i = index">
      {{paper.pid}}
      {{paper.authorId}}
      {{paper.title}}
      <a [href]="urls[i]" download="{{paperNames[i]}}.pdf">
        <button mat-icon-button>
          <mat-icon>get_app</mat-icon>
        </button>
      </a>
      <mat-radio-group>
        <mat-radio-button (click)="setPaperStatus(paper.pid,'accept')" value="accept">Accept</mat-radio-button>
        <mat-radio-button (click)="setPaperStatus(paper.pid,'reject')" value="reject">Reject</mat-radio-button>
      </mat-radio-group>
    </mat-list-item>
  </mat-list>
  <button mat-button id = "submit-button" (click)="submitChoices()">Submit</button>
</div>
