.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.papers {
  margin: 0 0 2em 0;
  padding: 0;
  width: 15em;
  order: 1;
}

.papers li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.papers li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.papers li:hover {
  color: #607D8B;
  background-color: #DDD;

}

.papers .text {
  position: relative;
  top: -3px;
}

.papers .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

#submit-button {
  background-color: red;
  color: white;
  font-family: Arial;
  border-radius: 20px;
}

button.accept {
  float: right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color: white;
}

.main-div {
  margin-left: 10px;
  margin-top: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-bttn {
  order: 2;
}
