<div class="main-div">
  <mat-card>

    <h1 class="mat-h1">Welcome to the Conference Dashboard!</h1>
    <h3 class="mat-h3">For starters, please fill in with most basic information</h3>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Conference name</mat-label>
        <input matInput placeholder="Ex. 6th Quarterly Symposium on Quantum Physics" #conferenceNameInput id="conference-name-input" (change)="conferenceNameChanged(conferenceNameInput.value)">
      </mat-form-field>
    </form>

    <div class="datetime-container">
      <mat-form-field class="example-full-width datetime-container-children">
        <mat-label>Preliminary phase deadline</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="datepickerPreliminaryPhase" (dateInput)="preliminaryPhaseDateAdded($event)" (dateChange)="preliminaryPhaseDateAdded($event)">
        <mat-datepicker-toggle matSuffix [for]="datepickerPreliminaryPhase"></mat-datepicker-toggle>
        <mat-datepicker #datepickerPreliminaryPhase></mat-datepicker>
      </mat-form-field>
      <div class="time-input">
        <input matInput type="time" value="{{preliminarySelectedTime}}">
        <button mat-icon-button (click)="openTimePreliminary()">
          <mat-icon>alarm</mat-icon>
        </button>
      </div>

    </div>

    <div class="datetime-container">

      <mat-form-field class="example-full-width datetime-container-children">
        <mat-label>First phase deadline</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="datepickerFirstPhase" (dateInput)="firstPhaseDateAdded($event)" (dateChange)="firstPhaseDateAdded($event)">
        <mat-datepicker-toggle matSuffix [for]="datepickerFirstPhase"></mat-datepicker-toggle>
        <mat-datepicker #datepickerFirstPhase></mat-datepicker>
      </mat-form-field>
      <div class="time-input">

        <input matInput type="time" value="{{firstPhaseSelectedTime}}">
        <button mat-icon-button (click)="openTimeFirstPhase()">
          <mat-icon>alarm</mat-icon>
        </button>
      </div>
    </div>


    <div class="datetime-container">

      <mat-form-field class="example-full-width datetime-container-children">
        <mat-label>Second phase deadline</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="datepickerSecondPhase" (dateInput)="secondPhaseDateAdded($event)" (dateChange)="secondPhaseDateAdded($event)">
        <mat-datepicker-toggle matSuffix [for]="datepickerSecondPhase"></mat-datepicker-toggle>
        <mat-datepicker #datepickerSecondPhase></mat-datepicker>
      </mat-form-field>
      <div class="time-input">

        <input matInput type="time" value="{{secondPhaseSelectedTime}}">
        <button mat-icon-button (click)="openTimeSecondPhase()">
          <mat-icon>alarm</mat-icon>
        </button>
      </div>
    </div>

    <div class="datetime-container">
      <mat-form-field class="example-full-width datetime-container-children">
        <mat-label>Third phase deadline</mat-label>
        <input matInput [min]="minDate" [matDatepicker]="datepickerThirdPhase" (dateInput)="thirdPhaseDateAdded($event)" (dateChange)="thirdPhaseDateAdded($event)">
        <mat-datepicker-toggle matSuffix [for]="datepickerThirdPhase"></mat-datepicker-toggle>
        <mat-datepicker #datepickerThirdPhase></mat-datepicker>
      </mat-form-field>
      <div class="time-input">
        <input matInput type="time" value="{{thirdPhaseSelectedTime}}">
        <button mat-icon-button (click)="openTimeThirdPhase()">
          <mat-icon>alarm</mat-icon>
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" id="create-conference-button" (click)="createConferenceButtonPressed()">Create conference!</button>
    <mat-error *ngIf="!validData">Input data is invalid!</mat-error>

  </mat-card>

</div>
