
#main{
  position: relative;
  margin-left: 28%;
}


app-author-register
{

}

h1 {
  margin-top: 2%;
  margin-left: 39%;
  width: 25%;
}

.decorationText {
  width: 40%;
  margin-top: 20%;
  margin-left: 33%;
  color: #1a8b04;
}

form {
  display: block;
}

[hidden] {
  display: none !important;
}


input {
  margin-left: 8px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.registerButton {
  width: 20%;
  margin-left: 40%;
  margin-bottom: 2%;
}

.homeButton {
  margin-left: 1%;
  margin-top: 1%;
  width: 20%;
}

mat-form-field {
  margin: auto;
  margin-top: 15px;
  width: 500px;
}
