
.g1 {
  background-color: #6262c4;
  border-radius: 15px;
}

mat-grid-list
{
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
}

mat-grid-tile:hover{
  background-color: #8484ff;
}

.g2 {
  width: 60% !important;
  background-color: blue;

}

.fullWidth {
  width: 50% !important;
}

