<app-header></app-header>


  <mat-grid-list class="grid-box-row" cols="4" rowHeight="50px">
    <ng-container *ngFor="let paper of papers">
      <mat-grid-tile (click)="showReviewers(paper)" [class.fullWidth]="breakpoint == 1" class="g1">
        {{paper.title}}
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>



<div *ngIf="reviewers.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let reviewer of reviewers">
      <br>
      <mat-checkbox #checkbox (change)='addRemoveReviewer($event,checkbox)'
                    value='{{reviewer.id}}'>{{reviewer.firstName}} {{reviewer.lastName}} <br></mat-checkbox>
    </mat-list-item>
  </mat-list>
  <!--<ng-container [(ngModel)]="reviewers"  *ngFor="let reviewer of reviewers">
    <br>
    <mat-checkbox #checkbox (change)='addRemoveReviewer($event,checkbox)'
                  value='{{reviewer.id}}'>{{reviewer.firstName}} {{reviewer.lastName}} <br></mat-checkbox>
  </ng-container>-->
  <br>
  <button (click)="assignReviewerToPaper()" mat-button>Assign those reviwers to the paper</button>

</div>

<mat-label *ngIf="canShow == true">
  Reviewers assigned!
</mat-label>
