
.g1 {
  background-color: #00601d;
  border-radius: 15px;
  color: white;
}

mat-grid-list
{
  margin-top: 2%;
  width: 96%;
  margin-left: 2%;
}

mat-grid-tile:hover{
  background-color: #009329;
}

.g2 {
  width: 60% !important;
  background-color: blue;

}

.fullWidth {
  width: 50% !important;
}

button
{
  margin-left: 2%;
  background-color: #3b5998;
  color: white;
}

button:hover
{
  background-color: #486cb8;
}
