<p>assign-reviewer works!</p>
<mat-grid-list class="grid-box-row" cols="2" rowHeight="100px">
  <ng-container *ngFor="let paper of papers">
    <mat-grid-tile (click)="showReviewers(paper)" [class.fullWidth]="breakpoint == 1"
                   class="g1">{{paper.title}} </mat-grid-tile>
  </ng-container>
</mat-grid-list>


<div *ngIf="reviewers.length > 0">
  <ng-container *ngFor="let reviewer of reviewers">
    <br>
    <mat-checkbox #checkbox (change)='addRemoveReviewer($event,checkbox)'
                  value='{{reviewer.id}}'>{{reviewer.firstName}} {{reviewer.lastName}} <br></mat-checkbox>
  </ng-container>
  <br>
  <button (click)="assignReviewerToPaper()">Assign those reviwers to the paper</button>

</div>

<div *ngIf="canShow == true">
  check the console!
</div>
