<!--
<app-header></app-header>
-->
<app-header></app-header>

<div *ngIf="pc" id="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{pc.firstname | uppercase}} {{pc.lastname | uppercase}}</mat-card-title>
      <mat-card-subtitle> {{pc.academicrank}} at {{pc.affiliation}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section class="mat-typography">
        <h4>First name: {{pc.firstname}}</h4>
        <h4>Last name: {{pc.lastname}}</h4>
        <h4>Email: {{pc.email}}</h4>
        <h4>Affiliation: {{pc.affiliation}}</h4>
        <h4>Academic Rank: {{pc.academicrank}}</h4>
        <h4>Website: {{pc.website}}</h4>
        <h4>Phone number: {{pc.phonenumber}}</h4>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="makeChair(pc.uid)" id = "makeChair" mat-flat-button>Give Chair credentials</button>
      <button (click)="goBack()" id = "back" mat-flat-button>Back</button>
    </mat-card-actions>
    <mat-error *ngIf="!successfulUpdate">Couldn't update to chair</mat-error>
  </mat-card>
</div>
