<p>this is a default home</p>
<!--<mat-form-field>-->
<!--  <mat-label>Favorite food</mat-label>-->
<!--  <mat-select>-->
<!--    <mat-option *ngFor="let food of foods" [value]="food.value">-->
<!--      {{food.viewValue}}-->
<!--    </mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->


<!--<ul>-->
<!--  <li *ngFor="let item of slideItems;let i = index">-->
<!--    <img *ngIf="i == counter" @fade [src]="slideItems[i].src" alt="item.title">-->
<!--  </li>-->
<!--</ul>-->


<!--<button (click)="showPreviousImage()">previous</button> ||-->
<!--<button (click)="showNextImage()">next</button>-->


<!--<br>-->
<!--<br>-->
<!--<p>what mark do you give this site?</p>-->
<!--<mat-slider (input)="onInputChange($event)" max="10" min="1" step="0.1" value="1.5">How much do you like this page?-->
<!--</mat-slider>-->
<!--mark:<span nota="sliderValue">{{sliderValue|number}}</span>-->
