section {
  display: table;
  margin: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.my_button_class {
  width: 250px !important;
  height: 150px !important;
  min-width: unset !important;
  font-size: 22px;
}

.image {
  height: 40em;
  background-size: cover;
  width: auto;
  background-image: url('../../../../assets/laptop.jpg');
  background-position: 50% 50%;
}
