<app-header></app-header>


<button color="warn" mat-raised-button>
  <a class="btn btn-link" routerLink="/home">Home</a>
</button>
<p>Congrats, you are a chair</p>


<button class="my_button_class" color="warn" mat-raised-button style="position:absolute; left:40%;bottom:35%">
  <a class="btn btn-link" routerLink="/create-conference">Create conference</a>
  <!-- fixme create conference should only show if there are no conferences-->
</button>

<button class="my_button_class" color="warn" mat-raised-button style="position:absolute; left:40%;bottom:59%">
  <!--fixme those should show only if there is a conference-->
  <a class="btn btn-link" routerLink="/manage-pcs">Manage PCs</a>
</button>

<button class="my_button_class" color="warn" mat-raised-button style="position:absolute; left:23%; bottom: 35%">
  <a class="btn btn-link" routerLink="/conference/edit">Conference/edit</a>
</button>

<button class="my_button_class" color="warn" mat-raised-button style="position:absolute; left:57%; bottom: 35%">
  <a class="btn btn-link" routerLink="/conference/structure">Conference structure</a>
</button>

<button class="my_button_class" color="warn" mat-raised-button style="position:absolute; left:40%; bottom: 11%">
  <a class="btn btn-link" routerLink="/review/pc">Review PC</a>
</button>




